<!DOCTYPE html>
<html lang="en">
<head>
<title>Weather app - About</title>
<link rel="icon" href="/images/weather.png">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">
{{>header}}
<p>This site was created by {{name}}. It uses data from <a href="https://mapbox.com">Mapbox</a> and <a href="https://weatherstack.com">Weatherstack</a>!</p>
<img src="/images/img1.jpg" alt="Me" class="portrait">
<p class="img-text">Jivin Mazumder's Google Profile Picture</p>
</div>

{{>footer}}
</body>
</html>