<!DOCTYPE html>
<html lang="en">
<head>
<title>Weather app - Help</title>
<link rel="icon" href="/images/weather.png">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">
{{>header}}
<p>{{message}}</p>
<img src="/images/weather.png" alt="">
<br><br>
</div>

{{>footer}}
</body>
</html>